<ul>
  <% if Admin::HighlightsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_highlights_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_highlight_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::HighlightsController.sortable? and Highlight.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Highlights"),
                 admin_highlights_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Highlights"),
                 admin_highlights_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>